*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Montserrat',sans-serif;
}


body{

height:100vh;
overflow:hidden;
background:
linear-gradient(135deg,#020617,#07182f);

color:white;

display:flex;
justify-content:center;
align-items:center;

}


.stars{

position:absolute;
width:100%;
height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:50px 50px;

opacity:.15;

animation:move 20s linear infinite;

}



@keyframes move{

from{
transform:translateY(0);
}

to{
transform:translateY(-100px);
}

}



section{

text-align:center;
z-index:2;

animation:appear 1.5s;

}



h1{

font-size:60px;
font-weight:900;

}


h1 span{

color:#45b6ff;

}



p{

font-size:22px;

line-height:1.6;

margin:30px 0;

opacity:.85;

}



button{

background:#45b6ff;

border:0;

padding:18px 45px;

border-radius:50px;

color:white;

font-size:18px;

cursor:pointer;

box-shadow:
0 0 30px #45b6ff;

transition:.3s;

}



button:hover{

transform:scale(1.1);

}



.ball{

font-size:100px;

animation:float 3s infinite;

}



@keyframes float{

50%{
transform:translateY(-25px) rotate(10deg);
}

}



.hidden{

display:none;

}



.volley{

font-size:120px;

animation:spin 3s infinite;

}



@keyframes spin{

100%{
transform:rotate(360deg);
}

}



.hint{

color:#45b6ff;

font-size:28px;

}



.heart{

font-size:80px;

animation:pulse 1s infinite;

}



@keyframes pulse{

50%{
transform:scale(1.2);
}

}



@keyframes appear{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:none;

}

}
